<div class="mypage_side-bar col-md-3">
  <h3>投稿場所一覧</h3>
  <% @places.each do |place| %>
    <div class="places">
      <%= link_to mypage_place_path(place) do %>
        <h4>
          <%= place.title %>
        </h4>
      <% end %>
    </div>
  <% end %>
</div>
