<footer class="footer bg-secondary" data-background-color="black">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <h2 class="footer-head">Postyについて</h2>
        <ul>
          <li><a href="#">会社概要（運営会社）</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">プレスリリース</a></li>
          <li><a href="#">公式ブログ</a></li>
          <li><a href="#">特定商取引法に基づく表記</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h2 class="footer-head">ヘルプ＆ガイド</h2>
        <ul>
          <li><a href="#">はじめての方へ</a></li>
          <li><a href="#">取引ガイド</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 ">
        <h2 class="footer-head">プライバシーと利用規約</h2>
        <ul>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">利用規約</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h2 class="footer-head">Postyと繋がる</h2>
        <ul>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fab fa-line"></i> LINE</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright" id="copyright">
      dotworks inc.
    </div>
  </div>
</footer>
