<div class="mypage_contents">
  <div class="put">
    <h3><%= @space.name %></h3>
    <div class="row">
      <div class="col-md-6">
        <div>
          料金: <%= number_to_currency @space.charge %>
        </div>

        <div>
          ステータス: <%= @space.status %>
        </div>

        <div>
          本文: <%= simple_format @space.description %>
        </div>
      </div>
    </div>
  </div>
</div>
