.mypage{
  padding: 50px 0;
  min-height: calc( 100vh - 96px );

  // スマホ
  @include sp-width  {
    padding: 20px 0;
   .sidebar{
     order: 2;
   }
    .mypage_contents{
      order: 1;
    }
  }
}

.mypage_contents{
  background-color: #fff;
  padding: 20px;
  h3{
    margin-top: 0;
  }
}

.sidebar{
  li{
    margin-bottom: 5px;
    background-color: #fff;
    a{
      display: block;
      padding: 0.8em;
      color: $txt-main;
    }
    &.is-active{
      background-color: #eee;
      a{
        color: $primary-color;
      }
    }
  }
}

//個別ページ用
.mypage{

  //マイページトップ
  .user-profile{
    padding: 30px;
    text-align: center;
    .username{
      font-size: 20px;
      margin-bottom: 15px;
    }
    .user-profile_img{
      width: 100px;
      border-radius: 50px;
      margin-bottom: 15px;
    }
  }
  .recent-order {
    li img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }

  .mypage_place_show {
    .mypage_place_title {
      display: flex;
      margin-bottom: 20px;

      h3 {
        margin: 0 20px 0 0;
      }
    }
  }
}
