.mypage{
  padding: 50px 0;
  min-height: calc( 100vh - 96px );

  h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $primary-color;
  }

  // スマホ
  @include sp-width  {
    padding: 20px 0;
   .sidebar{
     order: 2;
   }
    .mypage_contents {
      order: 1;
    }
  }
}

.mypage-menu {
  width: 100%;
  margin-bottom: 65px;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li{
      width: 18%;
      text-align: center;

      a{
        display: block;
        padding: 10px 0;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        color: $primary-color;
        border: 2px solid #008B8B;
        border-radius: 5px;
      }
      &.is-active a{
        background-color: $primary-color;
        color: #ffffff;
      }
    }
  }
}

.mypage_side-bar {
  background: rgba(0, 139, 139, 0.15);
  border-radius: 3px;
  text-align: center;
  padding: 20px;

  h4 {
    text-decoration-line: underline;
  }
}

.mypage_contents {
  width: 100%;
  padding: 20px;
  background: rgba(0, 139, 139, 0.15);
  border-radius: 3px;

  h3{
    margin-top: 0;
  }

  .actions {
    text-align: center;
  }
}

//個別ページ用
.mypage{
  .mypage_contents {
    &.confirm, &.show, &.index {
      background-color: #fff;
    }

    &.show {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  //マイページトップ
  .user-profile{
    padding: 30px;
    text-align: center;
    .username {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .user-profile_img {
      width: 100px;
      border-radius: 50px;
      margin-bottom: 15px;
    }
  }
  .recent-order {
    li img {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }

  .mypage-place-show {
    .place-title_area {
      display: flex;

      h2 {
        margin: 0 20px 0 0;
      }
    }
  }
}
