footer{
  &.bg-secondary{
    background-color: #212121 !important;
  }

  .copyright{
    color: #fff;
    text-align: center;
  }

  .row {
    padding: 18px 0 18px 0;
    @include sp-width{
      padding: 8px 0 18px 0;
    }
  }

  .footer-head{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    @include sp-width{
      margin-top: 10px;
    }
  }

  ul{
    color: #fff;
    margin-bottom: 5px;

    li{
      font-size: 12px;
      font-weight: 400;
      margin: 14px 0 0;

      a{
        color: #cacaca !important;
        text-decoration: none;
      }
    }
  }
}
